@model FinalProject.Models.Book

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2 class="text-info text-sm-left pb-4">Create Book</h2>
    
<form method="post" class="ml-4" asp-action="Create">
    <div class="border backgroundWhite ">
        
       
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Title" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Title" class="form-control" />

            </div>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Author" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Author" class="form-control" />
            </div>
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Status" class="col-form-label"></label>

            </div>
            <div class="col-5">
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<Book.EStatus>()" class="form-control"></select>
            </div>


        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="GenreId" class="col-form-label"></label>

            </div>
            <div class="col-5">
                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>

            </div>


        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackButtonView" />
            </div>

        </div>
    </div>
</form>
    




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
