@model FinalProject.Models.Book

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="backgroundImage">


    <h2 class="text-info text-sm-left pb-4">Add new Book</h2>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="CategoryId" class="col-form-label"></label>
        </div>
        <div class="col-3">
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
        </div>
        <div class="col-2">
            @Html.ActionLink("Add Category", "Create", "Categories", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-4">
            <button id="search" class="btn btn-primary">Search</button>
        </div>
    </div>

    <span id="Status" style="display:none">Searching API please wait..</span>
    <div id="SearchResults">

    </div>

</body>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script>

$('#search').on('click',
    function () {
        $("#Status").show();
        $("#SearchResults").html('');
        var categoryId = $("#CategoryId").val();

        if (categoryId > 0) {
            var url = '@Url.Action("SearchAPI", "Api")?categoryId=' + categoryId;
            $.ajax({
                url: url,
                method: 'GET',
                success: function (data) {
                    $("#SearchResults").html(data);
                    $("#Status").hide();
                },
                error: function (response) {
                    console.log(response);
                }
            })
        }
    })


    function CreateBook(title, subtitle, isbn, image, url, categoryId) {
        var params = { title: title, subtitle: subtitle, image: image, isbn13: isbn, url: url, categoryId: categoryId };
        var createUrl = '@Url.Action("Create","Books")';
        var indexUrl = '@Url.Action("Index","Books")';
        $.ajax({
            url: createUrl,
            method: 'GET',
            data: params,
            success: function (data) {
                window.location.href = indexUrl;
            },
            error: function (response) {
                console.log(response);
            }
        })
    }

</script>
}
