@model FinalProject.Models.Book

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="backgroundImage">


    <h2 class="text-info text-md-left font-weight-bold pb-4">Add new Book</h2>
    <div class="text-md-center" style="margin-left:420px;">
        <a asp-area="" asp-controller="Categories" asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp;Add Category</a>
    </div>

    <div class="container p-md-5 w-75 form-group row"
         style="margin-right:60px;
         margin-top:20px; border:2px solid black;
         border-radius:7px;
         margin-left:5px;">
        <div class="col-2">
            <label asp-for="CategoryId" class="col-form-label font-weight-bold"></label>
        </div>
        <div class="col-5">
            <select asp-for="CategoryId" class="form-control px-3" asp-items="ViewBag.CategoryId"></select>
        </div>
        <div class="col-5 form-group">
            <button id="search" class="btn btn-primary">Search</button>
        </div>
    </div>
   
    <div class="spinner-border"  id="Status"  style="display:none" role="status">
        <span class="sr-only"> Loading ....</span>
    </div>
    <div id="SearchResults">

    </div>

</body>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script>

$('#search').on('click',
    function () {
        $("#Status").show();
        $("#SearchResults").html('');
        var categoryId = $("#CategoryId").val();

        if (categoryId > 0) {
            var url = '@Url.Action("SearchAPI", "Api")?categoryId=' + categoryId;
            $.ajax({
                url: url,
                method: 'GET',
                success: function (data) {
                    $("#SearchResults").html(data);
                    $("#Status").hide();
                },
                error: function (response) {
                    console.log(response);
                }
            })
        }
    })


    function CreateBook(isbn, categoryId) {
        var params = {isbn13: isbn, categoryId: categoryId };
        var createUrl = '@Url.Action("Create","Books")';
        var indexUrl = '@Url.Action("Index","Books")';
        $.ajax({
            url: createUrl,
            method: 'POST',
            data: params,
            success: function () {
                window.location.href = indexUrl;
            },
            error: function (response) {
                console.log(response);
            }
        })
    }

</script>
}
