@model FinalProject.Models.Book
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="table-borderless" style="align-content:center">
     <div class="col-xl-10">
         <form asp-action="Edit" >
             <table class="table">
                 <tr>
                     <td>
                         <div class="font-weight-bold">
                             <label asp-for="Title" class="control-label"></label>
                         </div>
                     </td>
                     <td>
                         <div class="form-group">
                             <input asp-for="Title" class="form-control" />
                              <span asp-validation-for="Title" class="text-danger"></span>
                         </div>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <div class="font-weight-bold">
                             <label asp-for="Author" class="control-label"></label>
                         </div>
                     </td>
                     <td>
                         <div class="form-group">
                             <input asp-for="Author" class="form-control" />

                             <span asp-validation-for="Author" class="text-danger"></span>
                         </div>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <div class="font-weight-bold">
                             <label asp-for="Status" class="control-label"></label>
                         </div>
                     </td>
                     <td>
                         <div class="form-group">
                             <select asp-for="Status" asp-items="Html.GetEnumSelectList<Book.EStatus>()" class="form-control"></select>
                         </div>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <div class="font-weight-bold">
                             <label asp-for="GenreId" class="control-label"></label>
                         </div>
                     </td>
                     <td>
                         <div class="form-group">
                             <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>

                             <span asp-validation-for="GenreId" class="text-danger"></span>
                         </div>
                     </td>
                 </tr>
                 <tr>
                     <td>
                         <div><a asp-action="Index">Back to List</a></div>
                     </td>
                     <td>
                         <div class="form-group" style="text-align-last">
                             <input type="submit" value="Save" class="btn btn-primary" />
                         </div>
                     </td>
                 </tr>
             </table>            

         </form>
   </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
