@model IEnumerable<Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>

    @if (User.IsInRole("Admin"))
    {

        <partial name="_BookAdminView" />

    }
    else
    {
        <partial name="_BookUserView" />
    }


</body>

@section Scripts{ 

    <script type="text/javascript">
    function checkOut(id) {
        var checkInurl = '@Url.Action("CheckIn", "Users")';
        var indexUrl = '@Url.Action("Index", "Books")';
        checkInurl = checkInurl + '/?id=' + id;
        $.ajax({
            url: checkInurl,
            type: 'GET',
            success: function (response) {
                
                bootbox.alert({
                    message: response,
                    callback: function () {
                        window.location.href = indexUrl;
                    }
                });
                
            },
            error: function () {

            }
        })
    }

    </script>
}
