@model FinalProject.Models.Api.ApiSearchResult

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Search Results for @Model.keyword</h2>

@foreach (var book in Model.books)
{
    <partial name="_ApiSearchBookPartial" model="book"/>
}