@model FinalProject.Models.Api.ApiSearchResult
<div class="d-block">

<h2 class="font-weight-bold font-italic" style="color: #2E4756E6">Search Results for<span class="font-weight-bold text-capitalize"> @Model.keyword</span></h2>


@foreach (var book in Model.books)
{
    <partial name="_ApiSearchBookPartial" model="book" />
}

</div>

