@page
@model LoginModel



<h1>@ViewData["Title"]</h1>



<body class="backgroundImage">
    <div class="d-flex justify-content-center align-content-center p-md-4 mt-md-5">
        <form id="account" method="post" class="d-md-block w-50  m-5 shadow mb-5 bg-white rounded">
            <div class="containerd-block justify-content-center p-2 align-content-center" style="background-color:#bcf4ef; ">
                <h4 class="text-center" style="color:brown; font-weight:800">Login Form</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="d-md-block p-md-4">
                    <div class="form-group">
                        <label asp-for="Input.Email" class="col-form-label"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.Password" class="col-form-label"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control">Log in</button>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>

                <div class="container form-row justify-content-lg-between px-md-4">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">SignUp</a>
                    </p>

                </div>
            </div>
        </form>
    </div>
</body>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
