@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<body class="backgroundImage">
    <div class="container justify-content-center align-content-center  p-5 bg-white w-50" style="margin-top:300px; border:1px solid black; border-radius:13px;">
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out of the application.</p>
    </div>
</body>
