@page
@model RegisterModel

<body class="backgroundImage">



    <div class=" container">
        <h2 class="text-info text-center ml-5 pl-5">Create a New Account</h2>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class=" border container p-5 w-50 rounded shadow mb-5 bg-white rounded" style="background-color:#dae2e1; ">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Input.Name" class="col-form-label"></label>
                    </div>

                    <div class="col-md-8">
                        <input asp-for="Input.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Input.Email" class="col-form-label"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Input.Email" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Input.PhoneNumber" class="col-form-label"></label>
                    </div>

                    <div class="col-8">
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                    </div>

                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Input.StreetAddress" class="col-form-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Input.StreetAddress" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Input.City" class="col-form-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Input.City" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Input.State" class="col-form-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Input.State" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.State" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Input.PostalCode" class="col-form-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Input.PostalCode" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Input.Password" class="col-form-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Input.Password" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Input.ConfirmPassword" class="col-form-label"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4">
                        <button type="submit" class="btn btn-primary form-control">Register</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</body>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
